.theme_blue-night,
body[data-theme="theme_blue-night"]
{
--action-button-secondary-oncontainer: #292929;
--semantic-default-content: #AEBBC7;
--semantic-support: #687581;
--semantic-disabled: #B8CFE551;
--semantic-always-dark: #0F1113;
--semantic-inverse: #C2CFDB;
--semantic-inverse-disabled: #B8CFE551;
--semantic-inverse-onlight: #12171D;
--semantic-inverse-on-scrim: #C2CFDB;
--semantic-inverse-disabled-on-scrim: #B8CFE551;
--semantic-always-dark-disabled: #00000084;
--semantic-always-white: #FFFFFF;
--semantic-bento: #181F26;
--semantic-bento-accent: #FFBC2D;
--semantic-bento-energy: #45A12B;
--semantic-bento-nav: #1676CA;
--semantic-bento-stone: #1F1F1F;
--semantic-bento-emphasis: #232B33;
--semantic-base: #12171D;
--semantic-focus: #323D48;
--semantic-focus-emphasis-low: #28323B;
--semantic-focus-emphasis-lowest: #232B33;
--semantic-lowkey-inactive: #C2CFDB0A;
--semantic-lowkey: #BDCFE011;
--semantic-lowkey-active: #B8CFE519;
--semantic-highkey-inactive: #B8CFE519;
--semantic-highkey: #323D48;
--semantic-highkey-active: #B8CFE551;
--semantic-active-high-content: #12171D;
--semantic-active-high: #AEBBC7;
--semantic-active-high-disabled: #B6CFE747;
--semantic-accent-light: #FFAC007F;
--semantic-accent: #FFAC00;
--semantic-accent-dark: #EA9701;
--semantic-warning-light: #FFCC5B;
--semantic-warning: #EA9701;
--semantic-warning-dark: #D58103;
--semantic-accent-amazon-light: #1399FF99;
--semantic-accent-amazon: #1399FF;
--semantic-accent-amazon-dark: #0F7ACC;
--semantic-accent-alexa-bright: #76FBF9;
--semantic-accent-alexa: #05A0D1;
--semantic-accent-alexa-dim: #264CEE;
--semantic-cooling: #2C90E8;
--semantic-scheduled: #08569B;
--semantic-text-link: #08569B;
--semantic-head-lamp-light: #5AA8ED;
--semantic-head-lamp: #1676CA;
--semantic-head-lamp-dark: #08569B;
--semantic-navigation-light: #0A67B8;
--semantic-navigation: #0A67B8;
--semantic-navigation-dark: #042644;
--semantic-energy-light: #52C133;
--semantic-energy: #45A12B;
--semantic-energy-dark: #29611A;
--semantic-positive-light: #45A12B;
--semantic-positive: #378122;
--semantic-positive-dark: #29611A;
--semantic-caution-light: #F0691D;
--semantic-caution: #D66323;
--semantic-heating: #DB0000;
--semantic-negative-light: #E23333;
--semantic-negative: #DB0000;
--semantic-negative-dark: #9B0000;
--semantic-recording: #DB0000;
--semantic-recording-dim: #9B0000;
--button-action-accent-disabled: #FFAC007F;
--button-action-accent-enabled: #FFAC00;
--button-action-accent-enabled-press: #EA9701;
--semantic-system: #000000;
--button-action-accept: #378122;
--button-action-accept-pressed: #45A12B;
--button-action-decline: #DB0000;
--button-action-decline-pressed: #E23333;
--button-action-onimage-bg: #FFFFFFE5;
--button-action-neutral: #687581;
--button-action-neutral-pressed: #4A5763;
--button-action-primary-enabled: #323D48;
--button-action-primary-disabled: #B8CFE519;
--button-action-primary-enabled-press: #B8CFE551;
--button-action-primary-opaque-disabled: #28323B;
--button-action-secondary-enabled: #BDCFE011;
--button-action-secondary-disabled: #C2CFDB0A;
--button-action-secondary-enabled-press: #B8CFE519;
--button-action-secondary-frosted-disabled: #FFFFFF14;
--button-action-secondary-frosted-enabled: #FFFFFF28;
--button-action-secondary-frosted-enabled-press: #FFFFFF7A;
--button-action-secondary-frosted-selected-disabled: #FFFFFF7A;
--button-action-secondary-frosted-selected-press: #FFFFFF7A;
--button-action-secondary-frosted-selected: #FFFFFF;
--button-action-tertiary-disabled: #FFFFFF00;
--button-action-primary-opaque-press: #43505C;
--button-action-primary-inverse: #FFFFFF;
--button-action-primary-inverse-disabled: #FFFFFF9E;
--button-action-primary-inverse-press: #FFFFFFBA;
--button-action-secondary-opaque: #28323B;
--button-action-secondary-opaque-disabled: #232B33;
--button-action-secondary-opaque-press: #323D48;
--button-action-tertiary-enabled: #FFFFFF00;
--button-action-tertiary-enabled-press: #FFFFFF14;
--button-field-background: #BDCFE011;
--button-tap-selector-selected: #323D48;
--button-slider-knob: #AEBBC7;
--button-slider-knob-disabled: #687581;
--button-slider-foreground: #AEBBC7;
--button-slider-foreground-disabled: #B8CFE551;
--button-slider-background-slim: #B3D0EA2B;
--button-slider-background-wide: #BDCFE011;
--button-slider-tick: #687581;
--button-slider-knob-frosted: #C2CFDB;
--button-slider-knob-disabled-fosted: #687581;
--button-slider-foreground-frosted: #C2CFDB;
--button-slider-foreground-disabled-frosted: #B8CFE551;
--button-slider-background-frosted: #FFFFFF28;
--button-slider-vent: #141414;
--button-slider-dot: #C2CFDB;
--button-tap-selector-selected-disabled: #FFFFFF1E;
--button-tap-selector-background: #BDCFE011;
--button-tap-selector-background-press: #C2CFDB0A;
--button-tap-selector-onimage-bg: #000000CC;
--button-field-background-disabled: #C2CFDB0A;
--button-field-background-press: #B8CFE519;
--button-switch-knob: #FFFFFF;
--button-toggle-unselected: #BDCFE011;
--button-toggle-inverse-unselected: #FFFFFF00;
--button-toggle-inverse-unselected-disabled: #FFFFFF00;
--button-toggle-inverse-unselected-press: #C2CFDB0A;
--button-toggle-inverse-selected: #323D48;
--button-toggle-inverse-selected-disabled: #C2CFDB0A;
--button-toggle-inverse-selected-press: #BDCFE011;
--button-toggle-inverse-background: #BDCFE011;
--button-toggle-inverse-default-on-inverse-toggle: #AEBBC7;
--button-toggle-inverse-disabled-on-inverse-toggle: #B8CFE551;
--button-toggle-unselected-disabled: #C2CFDB0A;
--button-toggle-unselected-press: #B8CFE519;
--button-toggle-selected: #323D48;
--button-toggle-selected-disabled: #B8CFE519;
--button-toggle-selected-press: #B8CFE519;
--button-toggle-sxm-unselected: #232B33;
--button-toggle-sxm-selected: #404D59;
--button-toggle-floating-opaque: #181F26;
--button-switch-knob-disabled: #687581;
--button-switch-background-unselected: #4A5763;
--button-switch-background-unselected-disabled: #323D48;
--button-switch-background-unselected-press: #404D59;
--button-switch-background-selected: #FFAC00;
--button-switch-background-selected-disabled: #FFAC007F;
--button-switch-background-selected-press: #EA9701;
--illustration-technical-line-primary: #AEBBC7;
--line-divider-dim: #404D59;
--line-divider-strong: #AEBBC7;
--line-divider-onsystem: #4A5763;
--line-outline: #687581;
--line-outline-dim: #404D59;
--line-bento-match: #181F26;
--line-base-match: #12171D;
--line-base-dim-match: #141414;
--line-bg-protection: #B8CFE519;
--adas-road-lane-line-default: #404D59;
--adas-road-lane-line-hwa: #0A67B8;
--adas-road-distance-marks: #0A67B8;
--adas-road-carpet: #08569B;
--adas-road-carpet-inner: #5AA8ED;
--adas-road-gap-found: #404D59;
--adas-road-gap-found-hwa: #5AA8ED;
--adas-road-lane-change-target: #5AA8ED;
--adas-alerts-blind-spot-warning: #EA9701;
--adas-alerts-blind-spot-critical: #E23333;
--adas-alerts-lane-dash-line: #D58103;
--adas-alerts-lane-departure-critical: #DB0000;
--adas-alerts-brake-banner: #DB0000;
--adas-alerts-front-collision-warning: #9B0000;
--adas-alerts-front-collision-arrows: #86939F;
--adas-capsule-hwa-blue: #0A67B8;
--adas-capsule-hwa-white: #FFFFFF;
--adas-capsule-hwa-override: #0F1113;
--adas-capsule-hwa-tag-icon: #0A67B8;
--adas-capsule-hwa-tag: #232B33;
--adas-capsule-speed-limit-standby: #B8CFE551;
--adas-vehicle-highlight: #B3D0EA42;
--adas-mpa-indicator-inactive: #1E262E;
--adas-glow-base-glow-1: #181F26;
--adas-glow-base-glow-2: #12171D;
--adas-mpa-indicator-1: #FFBC2D;
--adas-mpa-indicator-2: #FFAC00;
--adas-mpa-indicator-3: #F0691D;
--adas-mpa-indicator-4: #D66323;
--adas-mpa-indicator-5: #DB0000;
--adas-mpa-indicator-6: #BA0000;
--adas-mpa-hatch-line: #687581;
--adas-mpa-hatch-bg: #1E262E;
--adas-vehicle-body: #4A5763;
--adas-vehicle-shadow: #00000047;
--adas-vehicle-outline: #000000;
--adas-vehicle-tail-light: #652727;
--adas-vehicle-road-shadow: #000000A0;
--adas-vehicle-highlight-follow: #5AA8ED;
--adas-vehicle-body-follow: #0A67B8;
--adas-vehicle-shadow-follow: #00000047;
--driver-display-r1-speedometer-bg: #232B33;
--driver-display-r2-speedometer-bg: #333333;
--driver-display-selected-prnd: #323D48;
--driver-display-widget-panel: #28323B;
--driver-display-energy: #45A12B;
--energy-high: #45A12B;
--energy-high-ondark: #45A12B;
--energy-low: #4A5763;
--driver-display-power: #FFAC00;
--driver-display-blind-spot: #DB000099;
--driver-display-popup-gfx-shape: #28323B;
--driver-display-popup-profile-bg: #43505C;
--driver-display-efficiency-gauge-bg: #BDCFE011;
--illustration-technical-line-secondary: #43505C;
--illustration-technical-highlight: #323D48;
--illustration-technical-highlight-tint: #86939F;
--illustration-technical-accent: #FFAC00;
--illustration-technical-fill-selected: #28323B;
--illustration-technical-shadow: #00000084;
--illustration-technical-match-bg: #12171D;
--illustration-technical-match-bg-zero: #12171D00;
--illustration-technical-white-tint: #FFFFFF;
--illustration-technical-black-shade: #000000;
--illustration-technical-color: #FFFFFF;
--illustration-notification-line-primary: #687581;
--illustration-notification-highlight: #FFFFFF;
--illustration-notification-highlight-zero: #FFFFFF00;
--illustration-notification-match-bg: #28323B;
--illustration-notification-match-bg-zero: #28323B00;
--illustration-notification-critical-line-primary: #EE7676;
--illustration-notification-critical-highlight: #FFFFFF;
--illustration-notification-critical-match-bg: #9B0000;
--illustration-notification-critical-match-bg-zero: #9B000000;
--indicators-loader-foreground: #AEBBC7;
--indicators-loader-background: #FFFFFF28;
--indicators-loader-always-dark-foreground: #0F1113;
--indicators-loader-always-dark-background: #0000002D;
--indicators-loader-inverse-foreground: #FFFFFF;
--indicators-loader-inverse-background: #B8CFE519;
--indicators-badges-negative: #5B0000;
--indicators-badges-caution: #662D0C;
--indicators-badges-normal: #053661;
--indicators-badges-positive: #1B4111;
--indicators-badges-info: #FFFFFF1E;
--indicators-letter-grade-letter: #0F1113;
--indicators-letter-grade-a: #378122;
--indicators-letter-grade-b: #EA9701;
--indicators-letter-grade-c: #F0691D;
--indicators-letter-grade-d: #E23333;
--indicators-letter-grade-f: #BA0000;
--navigation-main-route-route: #0A67B8;
--messaging-like: #FFAC00;
--messaging-heart: #E23333;
--messaging-dislike: #F0691D;
--navigation-puck: #0A67B8;
--navigation-main-route-route-stroke: #181F26;
--navigation-flag-next: #0A67B8;
--navigation-flag: #323D48;
--navigation-flag-next-label: #FFFFFF;
--navigation-flag-label: #AEBBC7;
--navigation-route-arrow: #C2CFDB;
--navigation-turn-by-turn: #233E4E;
--navigation-turn-content: #FFFFFF;
--navigation-puck-ring: #C2CFDB;
--navigation-flag-exit-container: #C2CFDB;
--navigation-flag-exit-label: #12171D;
--navigation-turn-arrow: #AEBBC7;
--navigation-turn-arrow-support: #B3D0EA42;
--navigation-turn-arrow-support-solid: #43505C;
--navigation-eta-bg: #12171D;
--navigation-eta-label: #C2CFDB;
--navigation-instruction-exit-bg: #C2CFDB;
--navigation-instruction-exit-label: #12171D;
--navigation-main-route-traffic-heavy: #BA0000;
--navigation-main-route-traffic-medium: #ED6D4A;
--navigation-main-route-traffic-light: #FFBC2D;
--notification-toast-standard-icon: #AEBBC7;
--notification-toast-disabled-icon: #B8CFE551;
--notification-toast-blue-icon: #5AA8ED;
--notification-toast-green-icon: #378122;
--notification-toast-yellow-icon: #FFCC5B;
--notification-toast-red-icon: #E23333;
--notification-toast-text: #AEBBC7;
--notification-toast-bg: #181F26;
--notification-standard-standard-icon: #C2CFDB;
--notification-standard-disabled-icon: #B8CFE551;
--notification-standard-blue-icon: #5AA8ED;
--notification-standard-green-icon: #378122;
--notification-standard-yellow-icon: #FFCC5B;
--notification-standard-red-icon: #E23333;
--notification-standard-text: #C2CFDB;
--notification-standard-bg: #28323B;
--notification-critical-text-icon: #FFFFFF;
--notification-critical-bg: #9B0000;
--overlay-album-darken: #00000047;
--overlay-pressed: #C2CFDB0A;
--overlay-vehicle: #00000000;
--overlay-scrim: #00000084;
--overlay-scrim-strong: #000000CC;
--pagination-container: #00000084;
--gradient-bento-gradient-0: #181F2600;
--system-active-high: #86939F;
--system-base: #000000;
--system-base-dim: #141414;
--system-button: #141B21;
--system-button-dragged: #B8CFE551;
--system-button-pressed: #232B33;
--system-button-active: #1E262E;
--system-button-selected: #86939F;
--system-button-selected-press: #4A5763;
--system-default-content: #86939F;
--system-support-content: #687581;
--system-inverse: #86939F;
--system-disabled: #687581;
--system-status-pill-sun: #FFCC5B;
--system-status-pill-cloud: #FFFFFF;
--system-status-pill-moon: #D1D1D1;
--system-status-pill-avatar-bright: #88C0F2;
--system-status-pill-avatar-bg: #5AA8ED;
--system-status-pill-avatar-dim: #2C90E8;
--system-frosted-bar: #00000047;
--system-active-bg: #00000047;
--system-icon-error: #FFCC5B;
--system-icon-error-low: #AEBBC7;
--system-icon-alert: #E23333;
--system-icon-alert-low: #AEBBC7;
--system-lowkey: #FFFFFF;
--system-factory-mode: #7C0000;
--video-player-default-content: #B8B8B8;
--gradient-bento-gradient-100: #181F26;
--gradient-bento-emphasis-gradient-0: #232B3300;
--gradient-bento-emphasis-gradient-100: #232B33;
--gradient-base-gradient-0: #12171D00;
--gradient-base-gradient-100: #12171D;
--pagination-inactive-oncontainer: #333333;
--pagination-active-oncontainer: #C2CFDB;
--pagination-active: #AEBBC7;
--pagination-inactive: #FFFFFF28;
--energy-pill-bg: #28323B;
--energy-oncontainer-bg: #BDCFE011;
--driver-display-telltales-blue-indicator: #5AA8ED;
--driver-display-telltales-green-indicator: #378122;
--driver-display-telltales-warning: #FFBC2D;
--driver-display-telltales-alert: #DB0000;
--navigation-alt-route-route: #4A5763;
--navigation-alt-route-route-stroke: #181F26;
--navigation-alt-route-traffic-heavy: #9B0000;
--navigation-alt-route-traffic-medium: #D9311D;
--navigation-alt-route-traffic-light: #EA9701;
--navigation-segment-route-route: #435E76;
--navigation-segment-route-route-stroke: #181F26;
--navigation-segment-route-traffic-heavy: #7C0000;
--navigation-segment-route-traffic-medium: #B4231A;
--navigation-segment-route-traffic-light: #D58103;
--video-player-container: #1F1F1FE0;
--video-player-control-segment: #7A7A7A66;
--video-player-button: #7A7A7A66;
--video-player-button-press: #7A7A7A3F;
--video-player-icon-press: #7A7A7A33;
--energy-level-2-icon: #36434F;
--energy-level-2-icon-selected: #4A5763;
--energy-output-primary: #FFAC00;
--energy-output-support: #AA6702;
--energy-output-dim: #323D48;
--energy-charge-detail-primary: #45A12B;
--energy-charge-detail-secondary: #29611A;
--energy-soc-seated-range-pill: #323D48;
--energy-soc-peek-range-pill: #323D48;
--energy-soc-content-on-normal: #000000;
--energy-soc-content: #FFFFFF;
--energy-soc-normal-on-system: #45A12B;
--energy-soc-normal: #45A12B;
--energy-soc-normal-dim: #29611A;
--energy-soc-warning: #EA9701;
--energy-soc-critical: #DB0000;
--energy-soc-cool-bat-hatch: #FFFFFF7A;
--energy-soc-cool-bat-bg: #2C90E8;
--indicators-rating-stars-disabled-foreground: #B8CFE551;
--indicators-rating-stars-disabled-background: #B8CFE519;
--indicators-rating-stars-enabled-foreground: #AEBBC7;
--indicators-rating-stars-enabled-background: #B8CFE551;
--indicators-rating-stars-selected-foreground: #AEBBC7;
--indicators-rating-stars-selected-background: #B8CFE551;
--indicators-rating-stars-selected-disabled-foreground: #B8CFE551;
--indicators-rating-stars-selected-disabled-backround: #B8CFE519;
--button-toggle-icon-protection: #1E262E;
--button-action-secondary-inverse: #FFFFFF9E;
--button-action-secondary-inverse-press: #FFFFFF7A;
--button-action-secondary-inverse-disabled: #FFFFFF60;
--button-toggle-oncamera-unselected: #12171D;
--button-toggle-oncamera-selected: #36434F;
--illustration-qr-background: #AEBBC7;
--energy-ran-accent: #FF9500;
}