.theme_dark-night,
body[data-theme="theme_dark-night"]
{
--action-button-secondary-oncontainer: #1F1F1F;
--semantic-default-content: #DB0000;
--semantic-support: #9B0000;
--semantic-disabled: #DB000066;
--semantic-always-dark: #000000;
--semantic-inverse: #000000;
--semantic-inverse-disabled: #00000084;
--semantic-inverse-onlight: #000000;
--semantic-inverse-on-scrim: #DB0000;
--semantic-inverse-disabled-on-scrim: #DB000066;
--semantic-always-dark-disabled: #DB0000CC;
--semantic-always-white: #FFFFFF;
--semantic-bento: #2B0000;
--semantic-bento-accent: #DB0000;
--semantic-bento-energy: #9B0000;
--semantic-bento-nav: #7C0000;
--semantic-bento-stone: #1F1F1F;
--semantic-bento-emphasis: #3A0000;
--semantic-base: #000000;
--semantic-focus: #5B0000;
--semantic-focus-emphasis-low: #7C0000;
--semantic-focus-emphasis-lowest: #3A0000;
--semantic-lowkey-inactive: #7C0000;
--semantic-lowkey: #5B0000;
--semantic-lowkey-active: #3A0000;
--semantic-highkey-inactive: #5B0000;
--semantic-highkey: #5B0000;
--semantic-highkey-active: #5B0000;
--semantic-active-high-content: #000000;
--semantic-active-high: #DB0000;
--semantic-active-high-disabled: #DB000099;
--semantic-accent-light: #5B0000;
--semantic-accent: #DB0000;
--semantic-accent-dark: #BA0000;
--semantic-warning-light: #FFCC5B;
--semantic-warning: #EA9701;
--semantic-warning-dark: #D58103;
--semantic-accent-amazon-light: #1399FF99;
--semantic-accent-amazon: #1399FF;
--semantic-accent-amazon-dark: #0F7ACC;
--semantic-accent-alexa-bright: #76FBF9;
--semantic-accent-alexa: #05A0D1;
--semantic-accent-alexa-dim: #264CEE;
--semantic-cooling: #2C90E8;
--semantic-scheduled: #BA0000;
--semantic-text-link: #BA0000;
--semantic-head-lamp-light: #5AA8ED;
--semantic-head-lamp: #1676CA;
--semantic-head-lamp-dark: #08569B;
--semantic-navigation-light: #7C0000;
--semantic-navigation: #7C0000;
--semantic-navigation-dark: #5B0000;
--semantic-energy-light: #BA0000;
--semantic-energy: #9B0000;
--semantic-energy-dark: #7C0000;
--semantic-positive-light: #9B0000;
--semantic-positive: #7C0000;
--semantic-positive-dark: #3A0000;
--semantic-caution-light: #F0691D;
--semantic-caution: #D66323;
--semantic-heating: #DB0000;
--semantic-negative-light: #E23333;
--semantic-negative: #BA0000;
--semantic-negative-dark: #9B0000;
--semantic-recording: #BA0000;
--semantic-recording-dim: #9B0000;
--button-action-accent-disabled: #DB000066;
--button-action-accent-enabled: #DB0000;
--button-action-accent-enabled-press: #DB000099;
--semantic-system: #000000;
--button-action-accept: #3A0000;
--button-action-accept-pressed: #9B0000;
--button-action-decline: #BA0000;
--button-action-decline-pressed: #E23333;
--button-action-onimage-bg: #FFFFFFE5;
--button-action-neutral: #9B0000;
--button-action-neutral-pressed: #9B0000;
--button-action-primary-enabled: #BA0000;
--button-action-primary-disabled: #DB000066;
--button-action-primary-enabled-press: #DB000099;
--button-action-primary-opaque-disabled: #7C0000;
--button-action-secondary-enabled: #DB000033;
--button-action-secondary-disabled: #DB000033;
--button-action-secondary-enabled-press: #DB000066;
--button-action-secondary-frosted-disabled: #3A0000;
--button-action-secondary-frosted-enabled: #5B0000;
--button-action-secondary-frosted-enabled-press: #3A0000;
--button-action-secondary-frosted-selected-disabled: #5B0000;
--button-action-secondary-frosted-selected-press: #7C0000;
--button-action-secondary-frosted-selected: #9B0000;
--button-action-tertiary-disabled: #FFFFFF00;
--button-action-primary-opaque-press: #9B0000;
--button-action-primary-inverse: #FFFFFF;
--button-action-primary-inverse-disabled: #FFFFFF9E;
--button-action-primary-inverse-press: #FFFFFFBA;
--button-action-secondary-opaque: #3A0000;
--button-action-secondary-opaque-disabled: #3A0000;
--button-action-secondary-opaque-press: #5B0000;
--button-action-tertiary-enabled: #FFFFFF00;
--button-action-tertiary-enabled-press: #DB000033;
--button-field-background: #5B0000;
--button-tap-selector-selected: #9B0000;
--button-slider-knob: #DB0000;
--button-slider-knob-disabled: #7C0000;
--button-slider-foreground: #7C0000;
--button-slider-foreground-disabled: #7C0000;
--button-slider-background-slim: #0000002D;
--button-slider-background-wide: #5B0000;
--button-slider-tick: #9B0000;
--button-slider-knob-frosted: #7C0000;
--button-slider-knob-disabled-fosted: #7C0000;
--button-slider-foreground-frosted: #7C0000;
--button-slider-foreground-disabled-frosted: #7C0000;
--button-slider-background-frosted: #000000;
--button-slider-vent: #7C0000;
--button-slider-dot: #000000;
--button-tap-selector-selected-disabled: #5B0000;
--button-tap-selector-background: #5B0000;
--button-tap-selector-background-press: #7C0000;
--button-tap-selector-onimage-bg: #000000CC;
--button-field-background-disabled: #7C0000;
--button-field-background-press: #3A0000;
--button-switch-knob: #2B0000;
--button-toggle-unselected: #DB000033;
--button-toggle-inverse-unselected: #FFFFFF00;
--button-toggle-inverse-unselected-disabled: #FFFFFF00;
--button-toggle-inverse-unselected-press: #DB000033;
--button-toggle-inverse-selected: #BA0000;
--button-toggle-inverse-selected-disabled: #DB000066;
--button-toggle-inverse-selected-press: #DB000099;
--button-toggle-inverse-background: #DB000033;
--button-toggle-inverse-default-on-inverse-toggle: #000000;
--button-toggle-inverse-disabled-on-inverse-toggle: #00000084;
--button-toggle-unselected-disabled: #DB000033;
--button-toggle-unselected-press: #DB000066;
--button-toggle-selected: #BA0000;
--button-toggle-selected-disabled: #DB000066;
--button-toggle-selected-press: #DB000099;
--button-toggle-sxm-unselected: #3A0000;
--button-toggle-sxm-selected: #9B0000;
--button-toggle-floating-opaque: #2B0000;
--button-switch-knob-disabled: #2B0000;
--button-switch-background-unselected: #9B0000;
--button-switch-background-unselected-disabled: #5B0000;
--button-switch-background-unselected-press: #BA0000;
--button-switch-background-selected: #DB0000;
--button-switch-background-selected-disabled: #5B0000;
--button-switch-background-selected-press: #BA0000;
--illustration-technical-line-primary: #DB0000;
--line-divider-dim: #DB000033;
--line-divider-strong: #9B0000;
--line-divider-onsystem: #3A0000;
--line-outline: #BA0000;
--line-outline-dim: #7C0000;
--line-bento-match: #2B0000;
--line-base-match: #000000;
--line-base-dim-match: #141414;
--line-bg-protection: #DB000033;
--adas-road-lane-line-default: #5B0000;
--adas-road-lane-line-hwa: #7C0000;
--adas-road-distance-marks: #7C0000;
--adas-road-carpet: #3A0000;
--adas-road-carpet-inner: #3A0000;
--adas-road-gap-found: #5B0000;
--adas-road-gap-found-hwa: #3A0000;
--adas-road-lane-change-target: #DB0000;
--adas-alerts-blind-spot-warning: #EA9701;
--adas-alerts-blind-spot-critical: #BA0000;
--adas-alerts-lane-dash-line: #EA9701;
--adas-alerts-lane-departure-critical: #BA0000;
--adas-alerts-brake-banner: #BA0000;
--adas-alerts-front-collision-warning: #9B0000;
--adas-alerts-front-collision-arrows: #FFFFFF;
--adas-capsule-hwa-blue: #7C0000;
--adas-capsule-hwa-white: #000000;
--adas-capsule-hwa-override: #2B0000;
--adas-capsule-hwa-tag-icon: #7C0000;
--adas-capsule-hwa-tag: #2B0000;
--adas-capsule-speed-limit-standby: #DB000066;
--adas-vehicle-highlight: #DB000099;
--adas-mpa-indicator-inactive: #2B0000;
--adas-glow-base-glow-1: #3A0000;
--adas-glow-base-glow-2: #2B0000;
--adas-mpa-indicator-1: #DB000066;
--adas-mpa-indicator-2: #DB000066;
--adas-mpa-indicator-3: #DB000099;
--adas-mpa-indicator-4: #DB000099;
--adas-mpa-indicator-5: #DB0000CC;
--adas-mpa-indicator-6: #DB0000CC;
--adas-mpa-hatch-line: #5B0000;
--adas-mpa-hatch-bg: #2B0000;
--adas-vehicle-body: #7C0000;
--adas-vehicle-shadow: #00000047;
--adas-vehicle-outline: #000000;
--adas-vehicle-tail-light: #BA0000;
--adas-vehicle-road-shadow: #000000A0;
--adas-vehicle-highlight-follow: #E64747;
--adas-vehicle-body-follow: #DB0000;
--adas-vehicle-shadow-follow: #00000047;
--driver-display-r1-speedometer-bg: #3A0000;
--driver-display-r2-speedometer-bg: #3A0000;
--driver-display-selected-prnd: #9B0000;
--driver-display-widget-panel: #333333;
--driver-display-energy: #9B0000;
--energy-high: #BA0000;
--energy-high-ondark: #BA0000;
--energy-low: #5B0000;
--driver-display-power: #7C0000;
--driver-display-blind-spot: #DB000099;
--driver-display-popup-gfx-shape: #7C0000;
--driver-display-popup-profile-bg: #5B0000;
--driver-display-efficiency-gauge-bg: #5B0000;
--illustration-technical-line-secondary: #7C0000;
--illustration-technical-highlight: #2B0000;
--illustration-technical-highlight-tint: #5B0000;
--illustration-technical-accent: #DB0000;
--illustration-technical-fill-selected: #2B0000;
--illustration-technical-shadow: #DB000033;
--illustration-technical-match-bg: #000000;
--illustration-technical-match-bg-zero: #00000000;
--illustration-technical-white-tint: #DB0000;
--illustration-technical-black-shade: #DB0000;
--illustration-technical-color: #FFFFFF;
--illustration-notification-line-primary: #9B0000;
--illustration-notification-highlight: #E23333;
--illustration-notification-highlight-zero: #E2333300;
--illustration-notification-match-bg: #5B0000;
--illustration-notification-match-bg-zero: #5B000000;
--illustration-notification-critical-line-primary: #EE7676;
--illustration-notification-critical-highlight: #FFFFFF;
--illustration-notification-critical-match-bg: #9B0000;
--illustration-notification-critical-match-bg-zero: #9B000000;
--indicators-loader-foreground: #DB0000;
--indicators-loader-background: #0000002D;
--indicators-loader-always-dark-foreground: #000000;
--indicators-loader-always-dark-background: #0000002D;
--indicators-loader-inverse-foreground: #000000;
--indicators-loader-inverse-background: #0000002D;
--indicators-badges-negative: #9B0000;
--indicators-badges-caution: #AA4A15;
--indicators-badges-normal: #07467E;
--indicators-badges-positive: #1B4111;
--indicators-badges-info: #DB000033;
--indicators-letter-grade-letter: #000000;
--indicators-letter-grade-a: #378122;
--indicators-letter-grade-b: #EA9701;
--indicators-letter-grade-c: #FFAC00;
--indicators-letter-grade-d: #E23333;
--indicators-letter-grade-f: #BA0000;
--navigation-main-route-route: #DB0000;
--messaging-like: #7C0000;
--messaging-heart: #E23333;
--messaging-dislike: #F0691D;
--navigation-puck: #7C0000;
--navigation-main-route-route-stroke: #000000;
--navigation-flag-next: #DB0000;
--navigation-flag: #9B0000;
--navigation-flag-next-label: #000000;
--navigation-flag-label: #000000;
--navigation-route-arrow: #000000;
--navigation-turn-by-turn: #9B0000;
--navigation-turn-content: #000000;
--navigation-puck-ring: #9B0000;
--navigation-flag-exit-container: #000000;
--navigation-flag-exit-label: #9B0000;
--navigation-turn-arrow: #DB0000;
--navigation-turn-arrow-support: #DB000066;
--navigation-turn-arrow-support-solid: #7C0000;
--navigation-eta-bg: #DB0000;
--navigation-eta-label: #000000;
--navigation-instruction-exit-bg: #000000;
--navigation-instruction-exit-label: #9B0000;
--navigation-main-route-traffic-heavy: #7C0000;
--navigation-main-route-traffic-medium: #ED6D4A;
--navigation-main-route-traffic-light: #FFBC2D;
--notification-toast-standard-icon: #DB0000;
--notification-toast-disabled-icon: #DB000066;
--notification-toast-blue-icon: #5AA8ED;
--notification-toast-green-icon: #9B0000;
--notification-toast-yellow-icon: #FFCC5B;
--notification-toast-red-icon: #E23333;
--notification-toast-text: #DB0000;
--notification-toast-bg: #2B0000;
--notification-standard-standard-icon: #E23333;
--notification-standard-disabled-icon: #DB000066;
--notification-standard-blue-icon: #5AA8ED;
--notification-standard-green-icon: #E23333;
--notification-standard-yellow-icon: #FFCC5B;
--notification-standard-red-icon: #E23333;
--notification-standard-text: #DB0000;
--notification-standard-bg: #5B0000;
--notification-critical-text-icon: #FFFFFF;
--notification-critical-bg: #9B0000;
--overlay-album-darken: #000000A0;
--overlay-pressed: #FFFFFF11;
--overlay-vehicle: #0000002D;
--overlay-scrim: #00000084;
--overlay-scrim-strong: #000000CC;
--pagination-container: #DB000066;
--gradient-bento-gradient-0: #2B000000;
--system-active-high: #BA0000;
--system-base: #000000;
--system-base-dim: #141414;
--system-button: #2B0000;
--system-button-dragged: #DB000033;
--system-button-pressed: #7C0000;
--system-button-active: #5B0000;
--system-button-selected: #5B0000;
--system-button-selected-press: #7C0000;
--system-default-content: #9B0000;
--system-support-content: #7C0000;
--system-inverse: #000000;
--system-disabled: #5B0000;
--system-status-pill-sun: #5B0000;
--system-status-pill-cloud: #9B0000;
--system-status-pill-moon: #3A0000;
--system-status-pill-avatar-bright: #7C0000;
--system-status-pill-avatar-bg: #5B0000;
--system-status-pill-avatar-dim: #3A0000;
--system-frosted-bar: #00000047;
--system-active-bg: #00000047;
--system-icon-error: #FFCC5B;
--system-icon-error-low: #DB0000;
--system-icon-alert: #E23333;
--system-icon-alert-low: #DB0000;
--system-lowkey: #FFFFFF;
--system-factory-mode: #7C0000;
--video-player-default-content: #9B0000;
--gradient-bento-gradient-100: #2B0000;
--gradient-bento-emphasis-gradient-0: #3A000000;
--gradient-bento-emphasis-gradient-100: #3A0000;
--gradient-base-gradient-0: #00000000;
--gradient-base-gradient-100: #000000;
--pagination-inactive-oncontainer: #9B0000;
--pagination-active-oncontainer: #DB0000;
--pagination-active: #BA0000;
--pagination-inactive: #BA0000;
--energy-pill-bg: #3A0000;
--energy-oncontainer-bg: #DB000033;
--driver-display-telltales-blue-indicator: #5AA8ED;
--driver-display-telltales-green-indicator: #378122;
--driver-display-telltales-warning: #FFBC2D;
--driver-display-telltales-alert: #DB0000;
--navigation-alt-route-route: #5B0000;
--navigation-alt-route-route-stroke: #000000;
--navigation-alt-route-traffic-heavy: #BA0000;
--navigation-alt-route-traffic-medium: #E84826;
--navigation-alt-route-traffic-light: #EA9701;
--navigation-segment-route-route: #9B0000;
--navigation-segment-route-route-stroke: #000000;
--navigation-segment-route-traffic-heavy: #5B0000;
--navigation-segment-route-traffic-medium: #D9311D;
--navigation-segment-route-traffic-light: #EA9701;
--video-player-container: #1F1F1FE0;
--video-player-control-segment: #7A7A7A66;
--video-player-button: #7A7A7A66;
--video-player-button-press: #7A7A7A3F;
--video-player-icon-press: #7A7A7A33;
--energy-level-2-icon: #DB000033;
--energy-level-2-icon-selected: #DB000033;
--energy-output-primary: #BA0000;
--energy-output-support: #5B0000;
--energy-output-dim: #5B0000;
--energy-charge-detail-primary: #9B0000;
--energy-charge-detail-secondary: #5B0000;
--energy-soc-seated-range-pill: #5B0000;
--energy-soc-peek-range-pill: #3A0000;
--energy-soc-content-on-normal: #000000;
--energy-soc-content: #000000;
--energy-soc-normal-on-system: #9B0000;
--energy-soc-normal: #7C0000;
--energy-soc-normal-dim: #5B0000;
--energy-soc-warning: #BA0000;
--energy-soc-critical: #DB0000;
--energy-soc-cool-bat-hatch: #E64747;
--energy-soc-cool-bat-bg: #7C0000;
--indicators-rating-stars-disabled-foreground: #DB000066;
--indicators-rating-stars-disabled-background: #DB000033;
--indicators-rating-stars-enabled-foreground: #DB0000;
--indicators-rating-stars-enabled-background: #DB000066;
--indicators-rating-stars-selected-foreground: #DB0000;
--indicators-rating-stars-selected-background: #DB000066;
--indicators-rating-stars-selected-disabled-foreground: #00000084;
--indicators-rating-stars-selected-disabled-backround: #DB000033;
--button-toggle-icon-protection: #2B0000;
--button-action-secondary-inverse: #FFFFFF9E;
--button-action-secondary-inverse-press: #FFFFFF7A;
--button-action-secondary-inverse-disabled: #FFFFFF60;
--button-toggle-oncamera-unselected: #1F1F1F;
--button-toggle-oncamera-selected: #606060;
--illustration-qr-background: #DB0000;
--energy-ran-accent: #FF9500;
}