.theme_light,
body[data-theme="theme_light"]
{
--action-button-secondary-oncontainer: #F2F2F2;
--semantic-default-content: #292929;
--semantic-support: #7A7A7A;
--semantic-disabled: #00000060;
--semantic-always-dark: #000000;
--semantic-inverse: #FFFFFF;
--semantic-inverse-disabled: #FFFFFF7A;
--semantic-inverse-onlight: #292929;
--semantic-inverse-on-scrim: #FFFFFF;
--semantic-inverse-disabled-on-scrim: #FFFFFF7A;
--semantic-always-dark-disabled: #00000060;
--semantic-always-white: #FFFFFF;
--semantic-bento: #FFFFFF;
--semantic-bento-accent: #FFCC5B;
--semantic-bento-energy: #52C133;
--semantic-bento-nav: #2C90E8;
--semantic-bento-stone: #292929;
--semantic-bento-emphasis: #F2F2F2;
--semantic-base: #E5E5E5;
--semantic-focus: #292929;
--semantic-focus-emphasis-low: #333333;
--semantic-focus-emphasis-lowest: #7A7A7A;
--semantic-lowkey-inactive: #0000000C;
--semantic-lowkey: #00000019;
--semantic-lowkey-active: #0000002D;
--semantic-highkey-inactive: #00000084;
--semantic-highkey: #292929;
--semantic-highkey-active: #000000A0;
--semantic-active-high-content: #FFFFFF;
--semantic-active-high: #292929;
--semantic-active-high-disabled: #00000084;
--semantic-accent-light: #FFAC0066;
--semantic-accent: #FFAC00;
--semantic-accent-dark: #EA9701;
--semantic-warning-light: #FFCC5B;
--semantic-warning: #EA9701;
--semantic-warning-dark: #D58103;
--semantic-accent-amazon-light: #1399FF99;
--semantic-accent-amazon: #1399FF;
--semantic-accent-amazon-dark: #0F7ACC;
--semantic-accent-alexa-bright: #76FBF9;
--semantic-accent-alexa: #05A0D1;
--semantic-accent-alexa-dim: #264CEE;
--semantic-cooling: #2C90E8;
--semantic-scheduled: #1676CA;
--semantic-text-link: #1676CA;
--semantic-head-lamp-light: #5AA8ED;
--semantic-head-lamp: #1676CA;
--semantic-head-lamp-dark: #08569B;
--semantic-navigation-light: #5AA8ED;
--semantic-navigation: #1676CA;
--semantic-navigation-dark: #053661;
--semantic-energy-light: #73DC56;
--semantic-energy: #52C133;
--semantic-energy-dark: #378122;
--semantic-positive-light: #52C133;
--semantic-positive: #45A12B;
--semantic-positive-dark: #378122;
--semantic-caution-light: #F49661;
--semantic-caution: #F0691D;
--semantic-heating: #DB0000;
--semantic-negative-light: #E23333;
--semantic-negative: #DB0000;
--semantic-negative-dark: #9B0000;
--semantic-recording: #DB0000;
--semantic-recording-dim: #9B0000;
--button-action-accent-disabled: #FFAC0066;
--button-action-accent-enabled: #FFAC00;
--button-action-accent-enabled-press: #EA9701;
--semantic-system: #000000;
--button-action-accept: #45A12B;
--button-action-accept-pressed: #52C133;
--button-action-decline: #E23333;
--button-action-decline-pressed: #DB0000;
--button-action-onimage-bg: #FFFFFFE5;
--button-action-neutral: #7A7A7A;
--button-action-neutral-pressed: #606060;
--button-action-primary-enabled: #292929;
--button-action-primary-disabled: #00000084;
--button-action-primary-enabled-press: #000000A0;
--button-action-primary-opaque-disabled: #9E9E9E;
--button-action-secondary-enabled: #00000019;
--button-action-secondary-disabled: #0000000C;
--button-action-secondary-enabled-press: #0000002D;
--button-action-secondary-frosted-disabled: #FFFFFF14;
--button-action-secondary-frosted-enabled: #FFFFFF28;
--button-action-secondary-frosted-enabled-press: #FFFFFFD1;
--button-action-secondary-frosted-selected-disabled: #FFFFFF7A;
--button-action-secondary-frosted-selected-press: #FFFFFF7A;
--button-action-secondary-frosted-selected: #FFFFFF;
--button-action-tertiary-disabled: #00000000;
--button-action-primary-opaque-press: #606060;
--button-action-primary-inverse: #FFFFFF;
--button-action-primary-inverse-disabled: #FFFFFF9E;
--button-action-primary-inverse-press: #FFFFFFBA;
--button-action-secondary-opaque: #FFFFFF;
--button-action-secondary-opaque-disabled: #F2F2F2;
--button-action-secondary-opaque-press: #D1D1D1;
--button-action-tertiary-enabled: #00000000;
--button-action-tertiary-enabled-press: #0000002D;
--button-field-background: #00000019;
--button-tap-selector-selected: #FFFFFF;
--button-slider-knob: #292929;
--button-slider-knob-disabled: #7A7A7A;
--button-slider-foreground: #292929;
--button-slider-foreground-disabled: #00000060;
--button-slider-background-slim: #0000002D;
--button-slider-background-wide: #00000019;
--button-slider-tick: #7A7A7A;
--button-slider-knob-frosted: #FFFFFF;
--button-slider-knob-disabled-fosted: #7A7A7A;
--button-slider-foreground-frosted: #FFFFFF;
--button-slider-foreground-disabled-frosted: #FFFFFF60;
--button-slider-background-frosted: #FFFFFF28;
--button-slider-vent: #292929;
--button-slider-dot: #FFFFFF;
--button-tap-selector-selected-disabled: #FFFFFFE5;
--button-tap-selector-background: #00000019;
--button-tap-selector-background-press: #0000000C;
--button-tap-selector-onimage-bg: #D1D1D1CC;
--button-field-background-disabled: #0000000C;
--button-field-background-press: #0000002D;
--button-switch-knob: #FFFFFF;
--button-toggle-unselected: #00000019;
--button-toggle-inverse-unselected: #FFFFFF00;
--button-toggle-inverse-unselected-disabled: #FFFFFF00;
--button-toggle-inverse-unselected-press: #FFFFFF7A;
--button-toggle-inverse-selected: #FFFFFF;
--button-toggle-inverse-selected-disabled: #FFFFFF7A;
--button-toggle-inverse-selected-press: #FFFFFFBA;
--button-toggle-inverse-background: #00000019;
--button-toggle-inverse-default-on-inverse-toggle: #292929;
--button-toggle-inverse-disabled-on-inverse-toggle: #00000060;
--button-toggle-unselected-disabled: #0000000C;
--button-toggle-unselected-press: #0000002D;
--button-toggle-selected: #292929;
--button-toggle-selected-disabled: #00000084;
--button-toggle-selected-press: #000000A0;
--button-toggle-sxm-unselected: #F2F2F2;
--button-toggle-sxm-selected: #B8B8B8;
--button-toggle-floating-opaque: #FFFFFF;
--button-switch-knob-disabled: #FFFFFF7A;
--button-switch-background-unselected: #B8B8B8;
--button-switch-background-unselected-disabled: #D1D1D1;
--button-switch-background-unselected-press: #7A7A7A;
--button-switch-background-selected: #FFAC00;
--button-switch-background-selected-disabled: #FFAC0066;
--button-switch-background-selected-press: #EA9701;
--illustration-technical-line-primary: #292929;
--line-divider-dim: #0000002D;
--line-divider-strong: #00000084;
--line-divider-onsystem: #FFFFFF7A;
--line-outline: #7A7A7A;
--line-outline-dim: #D1D1D1;
--line-bento-match: #FFFFFF;
--line-base-match: #E5E5E5;
--line-base-dim-match: #141414;
--line-bg-protection: #FFFFFF7A;
--adas-road-lane-line-default: #B8B8B8;
--adas-road-lane-line-hwa: #1676CA;
--adas-road-distance-marks: #1676CA;
--adas-road-carpet: #5AA8ED;
--adas-road-carpet-inner: #FFFFFF;
--adas-road-gap-found: #B8B8B8;
--adas-road-gap-found-hwa: #FFFFFF;
--adas-road-lane-change-target: #FFFFFF;
--adas-alerts-blind-spot-warning: #EA9701;
--adas-alerts-blind-spot-critical: #E23333;
--adas-alerts-lane-dash-line: #FFCC5B;
--adas-alerts-lane-departure-critical: #DB0000;
--adas-alerts-brake-banner: #DB0000;
--adas-alerts-front-collision-warning: #EE7676;
--adas-alerts-front-collision-arrows: #FFFFFF;
--adas-capsule-hwa-blue: #1676CA;
--adas-capsule-hwa-white: #FFFFFF;
--adas-capsule-hwa-override: #FFFFFF;
--adas-capsule-hwa-tag-icon: #1676CA;
--adas-capsule-hwa-tag: #FFFFFF;
--adas-capsule-speed-limit-standby: #00000060;
--adas-vehicle-highlight: #FFFFFF7A;
--adas-mpa-indicator-inactive: #D1D1D1;
--adas-glow-base-glow-1: #FFFFFF;
--adas-glow-base-glow-2: #E5E5E5;
--adas-mpa-indicator-1: #FFCC5B;
--adas-mpa-indicator-2: #FFBC2D;
--adas-mpa-indicator-3: #F49661;
--adas-mpa-indicator-4: #F0691D;
--adas-mpa-indicator-5: #DB0000;
--adas-mpa-indicator-6: #BA0000;
--adas-mpa-hatch-line: #7A7A7A;
--adas-mpa-hatch-bg: #D1D1D1;
--adas-vehicle-body: #B8B8B8;
--adas-vehicle-shadow: #00000047;
--adas-vehicle-outline: #000000;
--adas-vehicle-tail-light: #A51213;
--adas-vehicle-road-shadow: #000000A0;
--adas-vehicle-highlight-follow: #2C90E8;
--adas-vehicle-body-follow: #1676CA;
--adas-vehicle-shadow-follow: #00000047;
--driver-display-r1-speedometer-bg: #D1D1D1;
--driver-display-r2-speedometer-bg: #333333;
--driver-display-selected-prnd: #333333;
--driver-display-widget-panel: #333333;
--driver-display-energy: #52C133;
--energy-high: #52C133;
--energy-high-ondark: #52C133;
--energy-low: #D1D1D1;
--driver-display-power: #FFAC00;
--driver-display-blind-spot: #DB000099;
--driver-display-popup-gfx-shape: #333333;
--driver-display-popup-profile-bg: #D1D1D1;
--driver-display-efficiency-gauge-bg: #00000019;
--illustration-technical-line-secondary: #7A7A7A;
--illustration-technical-highlight: #F6F6F6;
--illustration-technical-highlight-tint: #FFFFFF;
--illustration-technical-accent: #FFAC00;
--illustration-technical-fill-selected: #D1D1D1;
--illustration-technical-shadow: #D1D1D1;
--illustration-technical-match-bg: #E5E5E5;
--illustration-technical-match-bg-zero: #E5E5E500;
--illustration-technical-white-tint: #FFFFFF;
--illustration-technical-black-shade: #000000;
--illustration-technical-color: #FFFFFF;
--illustration-notification-line-primary: #7A7A7A;
--illustration-notification-highlight: #FFFFFF;
--illustration-notification-highlight-zero: #FFFFFF00;
--illustration-notification-match-bg: #292929;
--illustration-notification-match-bg-zero: #29292900;
--illustration-notification-critical-line-primary: #D1D1D1;
--illustration-notification-critical-highlight: #FFFFFF;
--illustration-notification-critical-match-bg: #DB0000;
--illustration-notification-critical-match-bg-zero: #DB000000;
--indicators-loader-foreground: #292929;
--indicators-loader-background: #0000002D;
--indicators-loader-always-dark-foreground: #000000;
--indicators-loader-always-dark-background: #0000002D;
--indicators-loader-inverse-foreground: #FFFFFF;
--indicators-loader-inverse-background: #FFFFFF28;
--indicators-badges-negative: #F5ADAD;
--indicators-badges-caution: #FAD2BB;
--indicators-badges-normal: #B6D8F7;
--indicators-badges-positive: #C7F1BB;
--indicators-badges-info: #00000019;
--indicators-letter-grade-letter: #FFFFFF;
--indicators-letter-grade-a: #29611A;
--indicators-letter-grade-b: #EA9701;
--indicators-letter-grade-c: #F0691D;
--indicators-letter-grade-d: #BA0000;
--indicators-letter-grade-f: #7C0000;
--navigation-main-route-route: #1676CA;
--messaging-like: #FFAC00;
--messaging-heart: #E23333;
--messaging-dislike: #F0691D;
--navigation-puck: #1676CA;
--navigation-main-route-route-stroke: #FFFFFF;
--navigation-flag-next: #1676CA;
--navigation-flag: #FFFFFF;
--navigation-flag-next-label: #FFFFFF;
--navigation-flag-label: #292929;
--navigation-route-arrow: #FFFFFF;
--navigation-turn-by-turn: #233E4E;
--navigation-turn-content: #FFFFFF;
--navigation-puck-ring: #FFFFFF;
--navigation-flag-exit-container: #FFFFFF;
--navigation-flag-exit-label: #292929;
--navigation-turn-arrow: #292929;
--navigation-turn-arrow-support: #0000002D;
--navigation-turn-arrow-support-solid: #D1D1D1;
--navigation-eta-bg: #7A7A7A;
--navigation-eta-label: #FFFFFF;
--navigation-instruction-exit-bg: #292929;
--navigation-instruction-exit-label: #FFFFFF;
--navigation-main-route-traffic-heavy: #DB0000;
--navigation-main-route-traffic-medium: #ED6D4A;
--navigation-main-route-traffic-light: #FFBC2D;
--notification-toast-standard-icon: #292929;
--notification-toast-disabled-icon: #00000060;
--notification-toast-blue-icon: #1676CA;
--notification-toast-green-icon: #45A12B;
--notification-toast-yellow-icon: #EA9701;
--notification-toast-red-icon: #DB0000;
--notification-toast-text: #292929;
--notification-toast-bg: #FFFFFF;
--notification-standard-standard-icon: #FFFFFF;
--notification-standard-disabled-icon: #FFFFFF7A;
--notification-standard-blue-icon: #5AA8ED;
--notification-standard-green-icon: #45A12B;
--notification-standard-yellow-icon: #FFCC5B;
--notification-standard-red-icon: #E23333;
--notification-standard-text: #FFFFFF;
--notification-standard-bg: #292929;
--notification-critical-text-icon: #FFFFFF;
--notification-critical-bg: #DB0000;
--overlay-album-darken: #00000000;
--overlay-pressed: #00000019;
--overlay-vehicle: #00000000;
--overlay-scrim: #00000084;
--overlay-scrim-strong: #000000CC;
--pagination-container: #00000084;
--gradient-bento-gradient-0: #FFFFFF00;
--system-active-high: #E5E5E5;
--system-base: #000000;
--system-base-dim: #141414;
--system-button: #1F1F1F;
--system-button-dragged: #FFFFFF60;
--system-button-pressed: #606060;
--system-button-active: #333333;
--system-button-selected: #E5E5E5;
--system-button-selected-press: #9E9E9E;
--system-default-content: #E5E5E5;
--system-support-content: #B8B8B8;
--system-inverse: #292929;
--system-disabled: #7A7A7A;
--system-status-pill-sun: #FFCC5B;
--system-status-pill-cloud: #FFFFFF;
--system-status-pill-moon: #D1D1D1;
--system-status-pill-avatar-bright: #88C0F2;
--system-status-pill-avatar-bg: #5AA8ED;
--system-status-pill-avatar-dim: #2C90E8;
--system-frosted-bar: #FFFFFF7A;
--system-active-bg: #FFFFFF7A;
--system-icon-error: #D58103;
--system-icon-error-low: #292929;
--system-icon-alert: #DB0000;
--system-icon-alert-low: #292929;
--system-lowkey: #FFFFFF;
--system-factory-mode: #DB0000;
--video-player-default-content: #E5E5E5;
--gradient-bento-gradient-100: #FFFFFF;
--gradient-bento-emphasis-gradient-0: #F2F2F200;
--gradient-bento-emphasis-gradient-100: #F2F2F2;
--gradient-base-gradient-0: #E5E5E500;
--gradient-base-gradient-100: #E5E5E5;
--pagination-inactive-oncontainer: #B8B8B8;
--pagination-active-oncontainer: #FFFFFF;
--pagination-active: #292929;
--pagination-inactive: #00000047;
--energy-pill-bg: #606060;
--energy-oncontainer-bg: #00000019;
--driver-display-telltales-blue-indicator: #0A67B8;
--driver-display-telltales-green-indicator: #29611A;
--driver-display-telltales-warning: #D58103;
--driver-display-telltales-alert: #DB0000;
--navigation-alt-route-route: #7A7A7A;
--navigation-alt-route-route-stroke: #FFFFFF;
--navigation-alt-route-traffic-heavy: #BA0000;
--navigation-alt-route-traffic-medium: #F0691D;
--navigation-alt-route-traffic-light: #FFCC5B;
--navigation-segment-route-route: #76A7D1;
--navigation-segment-route-route-stroke: #FFFFFF;
--navigation-segment-route-traffic-heavy: #EE7676;
--navigation-segment-route-traffic-medium: #F39F7E;
--navigation-segment-route-traffic-light: #FFE5AD;
--video-player-container: #1F1F1FE0;
--video-player-control-segment: #7A7A7A66;
--video-player-button: #7A7A7A66;
--video-player-button-press: #7A7A7A3F;
--video-player-icon-press: #7A7A7A33;
--energy-level-2-icon: #FFFFFF7A;
--energy-level-2-icon-selected: #FFFFFFBA;
--energy-output-primary: #FFAC00;
--energy-output-support: #FFE5AD;
--energy-output-dim: #E5E5E5;
--energy-charge-detail-primary: #52C133;
--energy-charge-detail-secondary: #9DE788;
--energy-soc-seated-range-pill: #E5E5E5;
--energy-soc-peek-range-pill: #606060;
--energy-soc-content-on-normal: #000000;
--energy-soc-content: #000000;
--energy-soc-normal-on-system: #52C133;
--energy-soc-normal: #52C133;
--energy-soc-normal-dim: #378122;
--energy-soc-warning: #FFCC5B;
--energy-soc-critical: #E23333;
--energy-soc-cool-bat-hatch: #FFFFFF9E;
--energy-soc-cool-bat-bg: #2C90E8;
--indicators-rating-stars-disabled-foreground: #00000060;
--indicators-rating-stars-disabled-background: #0000002D;
--indicators-rating-stars-enabled-foreground: #292929;
--indicators-rating-stars-enabled-background: #00000060;
--indicators-rating-stars-selected-foreground: #FFFFFF;
--indicators-rating-stars-selected-background: #FFFFFF7A;
--indicators-rating-stars-selected-disabled-foreground: #FFFFFF7A;
--indicators-rating-stars-selected-disabled-backround: #FFFFFF33;
--button-toggle-icon-protection: #F2F2F2;
--button-action-secondary-inverse: #FFFFFF9E;
--button-action-secondary-inverse-press: #FFFFFF7A;
--button-action-secondary-inverse-disabled: #FFFFFF60;
--button-toggle-oncamera-unselected: #1F1F1F;
--button-toggle-oncamera-selected: #606060;
--illustration-qr-background: #FFFFFF;
--energy-ran-accent: #FF9500;
}